body {
    max-width: 600px;
    margin: 0 auto;
  }
.one{
    background-color: lightpink;
    padding: 32px;
    margin: 12px;
    border: 3px blue solid;
}

.two{
    background-color: lightblue;
    margin-bottom: 48px;
    border: 3px brown solid;
}
.three{
    background-color: peachpuff;
    margin-left: auto;
    width: 200px;
    padding: 32px;
    border: 2px red solid;
}